@{
    Layout = null;
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/401.css" >

</head>

<div>
	<img src="https://images.plurk.com/5pHVCIyRNMdudWmVrrtQ.png" alt="">
	<h1>401 Unauthorized</h1>
	<p>此頁面需經過授權才能瀏覽</p>
</div>
